<h3>Pending Suggestions!</h3>

<%@suggest.each do |x|%>
        <ul>
            <li>
                Image submitted:
                <%if x.image.present?%>
                    <%=image_tag x.image.thumb.url%><br>
                <%else%>
                    N/A<br>
                <%end%>
                Name: <%=x.name%><br>
                Country: <%=x.release_country%><br>
                Year: <%=x.release_year%><br>
                Details: <%=x.details%><br>
                Review Comments: <font color="red"><%=x.review%></font><br>
                Status: <font color="red"><%=x.status%></font> | 
                <a href="/admin/suggest_review/<%=x.id%>">Update review status</a>
            </li>
        </ul>
<%end%>