<h3>Suggestion Review</h3>
<br>
<p>Please leave a comment & select completion status</p>
* NOTE*
<ul>
<li>Reviews can be seen by Hoarders.</li>
<li>Please leave comment if suggestions was accepted or state reason if suggestion is rejected.</li>
</ul>
<%= form_for :suggestion, url: {action: "suggest_update"}, method:"Post" do |f| %>
    Review comments:<br>
    <%= f.text_area :review, class: 'form-control col-md-4'%><br>
    Status:<br>
    <%= f.radio_button :status, "pending" %><span> Pending<br>
    <%= f.radio_button :status, "closed" %><span> Closed<br>

    <%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>