<h3>Suggest/Report Status</h3>
<br><h4>Reports</h4>
<%current_user.reports.each do |x|%>
    <%Card.where(id: x.card_id).each do |y|%>
        <ul>
            <li>
                <a href="/cards/<%=y.id%>"><%=image_tag y.image.small_thumb.url%></a>
                <%if x.image.present?%>
                    <%=image_tag x.image.small_thumb.url%>
                <%end%>
                <br>Problem details: <%=x.details%><br>
                Review : <%=x.review%><br>
            </li>
        </ul>
    <%end%>
<%end%>
<br><br><h4>Suggestions</h4>
<%current_user.suggestions.each do |x|%>
    <ul>
        <li>
            <%=image_tag x.image.small_thumb.url%><br>
            Name: <%=x.name%><br>
            Country: <%=x.release_country%><br>
            Year: <%=x.release_year%><br>
            Details: <%=x.details%><br>
            Review : <%=x.review%>
        </li>
    </ul>
<%end%>