<% if user_signed_in? %>
  <%if current_user.admin?%>
    <%= link_to('New Card', new_card_path) %>
    <h1>Latest uploaded cards</h1>
    <div class="container">
      <div class="row">
        <% @card.each do |x| %>
            <div class="col-sm-2">
            <% if x.image.present? %>
              <a href="/cards/<%=x.id%>"><%= image_tag(x.image.thumb.url) %></a>
            <% end%>
                <br><%= x.name %><br>
                <%= x.release_country %> | 
                <%= x.release_year %>
            </div>
        <% end %>
      </div>
    </div>
  <%else%>
    <h1>Latest uploaded cards</h1>
    <div class="container">
      <div class="row">
        <% @card.each do |x| %>
          <div class="col-sm-2">
            <%if current_user.ownerships.find_by(card_id: x.id).present?%>
              <%if current_user.ownerships.find_by(card_id: x.id).owned?%>
                owned <a href="/delete_collection/<%=x.id%>", data-confirm="Are you sure?">x</a><br>
              <%else%>
                wishlist <a href="/delete_collection/<%=x.id%>", data-confirm="Are you sure?">x</a><br>
              <%end%>
            <%else%>
             --<br>
            <%end%>
            <% if x.image.present? %>
              <a href="/cards/<%=x.id%>"><%= image_tag(x.image.thumb.url) %></a>
            <% end%>
            <br><%= x.name %><br>
            <a href="add_owned/<%=x.id%>">Owned</a> | 
            <a href="add_wishlist/<%=x.id%>">Wishlist</a>
          </div>
        <%end%>
      </div>
    </div>
  <%end%>
<%end%>